$bgDark: #0a0a0a;
$bgNormal: #1d1d1d;
$bgLight: #272727;
$textColor: #9b9b9b;
$primaryGreen: #6ce99e;
$whiteColor: #fff;
$lineColor: #262626;
$blackColor: #000;
$textGreen: #10c8a8;
$textRed: #ff4e59;

:export {
  bgdark: $bgDark;
  bgnormal: $bgNormal;
  bglight: $bgLight;
  textcolor: $textColor;
  primarygreen: $primaryGreen;
  whitecolor: $whiteColor;
  linecolor: $lineColor;
  blackcolor: $blackColor;
  textgreen: $textGreen;
  textred: $textRed;
}
