$bgDark: #0a0a0a;
$bgNormal: #1d1d1d;
$bgLight: #272727;
$textColor: #9b9b9b;
$primaryGreen: #6ce99e;
$primaryGreenHover: #76ffad;
$brandBlue: #27a2f8;
$whiteColor: #fff;
$lineColor: #272727;
$lineLightColor: #373737;
$blackColor: #0a0a0a;
$textGreen: #10c8a8;
$textRed: #ff4e59;

:export {
  bgDark: $bgDark;
  bgNormal: $bgNormal;
  bgLight: $bgLight;
  textColor: $textColor;
  primaryGreen: $primaryGreen;
  primaryGreenHover: $primaryGreenHover;
  brandBlue: $brandBlue;
  whiteColor: $whiteColor;
  lineColor: $lineColor;
  lineLightColor: $lineLightColor;
  blackColor: $blackColor;
  textGreen: $textGreen;
  textRed: $textRed;
}
