body {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

input,
button {
  outline: none;
  border: 0;
  background: none;
  color: inherit;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  &:focus-visible {
    outline: none;
  }
}

* {
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #232b48;
    border-radius: 6px;
  }

  &::selection {
    color: #fff;
    background-color: #27a2f8;
  }

  &::-moz-selection {
    color: #fff;
    background-color: #27a2f8;
  }
}
